#site-head {
	grid-area: head;

	#logo {
        width: 40px;
    }

	#site-nav {
		font-family: 'JetBrains Mono', monospace;
		display: none;
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;

		&.open {
			display: block;
		}

		a {
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			font-size: 2em;
			padding-top: 0.5em;
		}

		@media screen and (min-width: 700px) {
			bottom: unset;
			left: unset;
			right: 1em;
			top: 2em;
			padding: 2em !important;

			 a {
				font-size: 1em;
				margin-bottom: 0.5em;
			 }
		}
	}

	.menu-toggle {
		width: 30px;
		height: 16px;
		position: relative;
		border: none;
		background: none;
		cursor: pointer;
		z-index: 2;
	}

	.menu-toggle span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 3px;
		background: #000;
		transition: all 0.3s ease;
	}

	.menu-toggle span:nth-child(1) {
		top: 0;
		}

	.menu-toggle span:nth-child(2) {
		bottom: 0;
	}

	/* OPEN STATE */
	.menu-toggle.open span:nth-child(1) {
		transform: rotate(45deg);
		top: 4px;
	}

	.menu-toggle.open span:nth-child(2) {
		transform: rotate(-45deg);
		bottom: 10px;
	}
}