#blog.teamdirt {
	
	&::before {
		background: none;
	}

	&.article {
		#site-body {
			@media screen and (min-width: 1000px) {
				grid-column: 2 / 6;
			}
		}

		.hero-wrapper {
			@media screen and (min-width: 1000px) {
				margin: 2em -7em;
			}
		}
	}
}