#support.teamdirt {
    .img-wrapper, #sponsor-carousel {
        margin-left: -24px;
        margin-right: -24px;
    }

    .logo-track {
        width: max-content;
        animation: scroll-logos 50s linear infinite;
        
        img {
            max-height: 100px;
            // max-width: 150px;
            // filter: grayscale(100%);
            // opacity: 0.8;
            display: block;
            margin: 1em;
        }
    }

    @media screen and (min-width: 1000px) {
        section, .img-wrapper, #sponsor-carousel {
            max-width: 800px;
            margin: 4em auto;
        }
    }

    @media screen and (min-width: 700px) {
        section, .img-wrapper, #sponsor-carousel {
            max-width: 600px;
            margin: 4em auto;
        }
    }

    @keyframes scroll-logos {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }
}