---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Team Dirt: Endurance Team From Eastern Visayas, Philippines"
---

<BaseLayout 
	pageTitle = {pageTitle} ,
	bodyId = "home",
	bodyClass="teamdirt grid p-4 m-auto"
>

	<div id="hero" class="d-flex justify-content-evenly align-items-start">
		<img src="/assets/img/hero/homepage-hero-1.jpg" alt="Image of Team Dirt at the La Routa finish line" class="w-75">
		<!-- <img src="/public/assets/img/hero/homepage-hero-2.jpg" alt="Image of Team Dirt on MTBs"> -->
	</div>
	<div id="nameplate" class="text-center">
		<h1 class="fw-bold">{pageTitle}</h1>
		<hr>
		<p>
			Team Dirt is an adventure racing and outdoor endurance team from Eastern Visayas, Philippines.
		</p>

		<p>
			We race, explore, and build events that bring people outdoors — from mountain trails to coastal towns — carrying the same spirit of teamwork, movement, and discovery wherever we go.
		</p>

		<p>
			We train together, compete across the country and beyond, and create opportunities for others to experience the same wild joy of being out there.
		</p>

		<a href="/support" class="btn btn-primary">Support Team Dirt -></a> 
	</div>

	<hr>

	<!-- Upcoming Races -->
	<section id="upcoming-races" class="py-5">
		<h2 class="fw-bold">Upcoming Races</h2>
		<ul class="list-unstyled">
			<li class="d-flex justify-content-between border-bottom py-2"><span class="fw-medium">Ormoc Eco Adventure Race</span> <span>July 4, 2026</span></li>
			<li class="d-flex justify-content-between border-bottom py-2"><span class="fw-medium">Ormoc Trailfest</span> <span>July 17, 2026</span></li>
		</ul>

		<!-- <a href="/race-lineup" class="btn btn-primary">View All Races -></a> -->
	</section>

	<hr>

	<section id="sponsors" class="py-5">
		<h2 class="fw-bold">Our Sponsors</h2>

		<div class="d-grid my-5">
			<img src="/assets/img/logos/sponsors/black/pitman.png" alt="" class="">
			<img src="/assets/img/logos/sponsors/black/rox.png" alt="" class="">
			<img src="/assets/img/logos/sponsors/black/tita-tings.png" alt="" class="">
			<img src="/assets/img/logos/sponsors/black/autodeal.png" alt="" class="">
			<img src="/assets/img/logos/sponsors/black/the-farmacy.png" alt="" class="">
		</div>

		<a href="/support" class="btn btn-primary">Become A Sponsor -></a>
	</section>

</BaseLayout>