---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Team Dirt: Endurance Team From Eastern Visayas"
---

<BaseLayout 
	pageTitle = {pageTitle} ,
	bodyId = "home",
	bodyClass="teamdirt grid p-4 m-auto"
>

	<div id="hero" class="d-flex justify-content-evenly align-items-start">
		<img src="/assets/img/hero/homepage-hero-1.jpg" alt="Image of Team Dirt at the La Routa finish line" class="w-75">
		<!-- <img src="/public/assets/img/hero/homepage-hero-2.jpg" alt="Image of Team Dirt on MTBs"> -->
	</div>
	<div id="nameplate">
		<h1 class="fw-bold">{pageTitle}</h1>
		<hr>
		<p>
			Team Dirt is an adventure racing and outdoor endurance team from Eastern Visayas, Philippines.
		</p>

		<p>
			We race, explore, and build events that bring people outdoors — from mountain trails to coastal towns — carrying the same spirit of teamwork, movement, and discovery wherever we go.
		</p>

		<p>
			We train together, compete across the country and beyond, and create opportunities for others to experience the same wild joy of being out there.
		</p>

		<span class="mono">#WEAREDIRT</span>
	</div>

</BaseLayout>