---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "2026 Team Dirt Lineup"
---

<BaseLayout 
	pageTitle = {pageTitle} ,
	bodyId = "line-up",
	bodyClass="teamdirt grid p-4 m-auto"
>
	<div>
		<section id="hero" class="">
            <h1 class="display-3 fw-bold mb-3">{pageTitle}</h1>
            <p>
                Team Dirt is currently lined up with athletes from multiple sport backgrounds; from mountaineering, rock climbing, paddling, mt biking, trail and road running. <br> We are a true multisport team
            </p>
        </section>

        <hr>

        <div class="racer-grid">
            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-theody.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Theody Munez. <br> <small class="text-body-secondary">Coach</small></h2>
                        <p>
                            Background: water sports, mountaineering
                        </p>
                    </div>
                </div>
            </section>

            <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-quincy.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Quincy Villero. <br> <small class="text-body-secondary">Manager</small></h2>
                        <p>
                            Background: climbing, mountaineering
                        </p>
                    </div>
                </div>
            </section>

            <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-erika.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Erika Viojan. <br> <small class="text-body-secondary">Team Captain, Dirt A</small></h2>
                        <p>
                            Background: athletics
                        </p>
                    </div>
                </div>
            </section>

            <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-nick.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Nick Aguilos. <br> <small class="text-body-secondary">Navigator, Dirt A</small></h2>
                        <p>
                            Background: climbing
                        </p>
                    </div>
                </div>
            </section>

            <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-gil.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Gil Peñero. <br> <small class="text-body-secondary">Packhorse, Dirt A</small></h2>
                        <p>
                            Background: athletics
                        </p>
                    </div>
                </div>
            </section>

            <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-lilik.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Hienrick Velasco. <br> <small class="text-body-secondary">Packhorse, Dirt A</small></h2>
                        <p>
                            Background: Mt Biking
                        </p>
                    </div>
                </div>
            </section>

            <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-tata.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Tata Hernaez. <br> <small class="text-body-secondary">Packhorse, Dirt B</small></h2>
                        <p>
                            Background: climbing
                        </p>
                    </div>
                </div>
            </section>

            <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-kai.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Kai Baylen. <br> <small class="text-body-secondary">Racer, Dirt B</small></h2>
                        <p>
                            Background: football
                        </p>
                    </div>
                </div>
            </section>

            <!-- <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-jim.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Jim Sabarre. <br> <small class="text-body-secondary">Racer, Dirt B</small></h2>
                        <p>
                            Background: Mt Biking
                        </p>
                    </div>
                </div>
            </section> -->

            <hr>

            <section>
                <div class="line-item d-flex py-3">
                    <div class="img-wrapper">
                        <img src="/assets/img/avatars/avatar-frienli.jpg" class="w-100" alt="">
                    </div>

                    <div>
                        <h2 class="h3 fw-bold">Frienli Mesias. <br> <small class="text-body-secondary">Support</small></h2>
                        <p>
                            Background: climbing, mountaineering, caving
                        </p>
                    </div>
                </div>
            </section>
        </div>
        

	</div>

</BaseLayout>