---

---

<!-- Site Footer -->
<footer id="site-footer" class="border-top pt-5 pb-5">
    <div class="d-flex justify-content-between gap-5">
        <div>
            Copyright &copy; 2025 Team Dirt. <br>All Rights Reserved <br>
            <mark class="mono">#WEAREDIRT</mark>
        </div>

        <ul class="list-unstyled">
            <strong>Primary Sponsors</strong>
            <li><a href="https://facebook.com/pitmanoutdoors">Pitman Outdoors</a></li>
            <li><a href="https://facebook.com/roxphils">ROX Philippines</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100067569400433">Tita Ting's Turmeric</a></li>
        </ul>

        <ul class="list-unstyled">
            <strong>Secondary Sponsors</strong>
            <li><a href="https://facebook.com/bukidoutdoorshop">Bukid Outdoor Shop</a></li>
            <li><a href="https://facebook.com/aguilosservices">Aguilos Services</a></li>
            <li><a href="https://www.autodeal.com.ph">AutoDeal.com.ph</a></li>
            <li><a href="https://www.facebook.com/jedinutrition/">The Farmacy</a></li>
        </ul>

        <ul class="list-unstyled">
            <strong>Our Socials</strong>
            <li><a href="https://facebook.com/teamdirt.ph">Facebook</a></li>
            <li><a href="https://instagram.com/teamdirt.ph">Instagram</a></li>
        </ul>
    </div>
</footer>