---
import Navigation from './Navigation.astro';
---

<!-- Site Header -->
<header id="site-head" class="d-flex justify-content-between align-items-center border-bottom p-2">
    <a href="/">
        <img src="/assets/img/logo-dirt-racing-logo-black.png" id="logo" alt="Team Dirt Logo">
    </a>    

    <Navigation />
</header>